<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.devblocks.com/schema/plugin.xsd">
	<id>wgm.clickatell</id>
	<name>Clickatell Integration</name>
	<description>This plugin provides integration with Clickatell for SMS functionality.  This plugin is intended to be a bridge used by other plugins to communicate with Clickatell services.</description>
	<author>WebGroup Media, LLC.</author>
	<version>1.0.6</version>
	<link>http://www.cerbweb.com/book/latest/plugins/wgm.clickatell.html</link>
	<image>plugin.png</image>
 
	<!-- Requirements -->

	<requires>
		<app_version min="6.3" max="6.3.99" />
		<php_extension name="curl" />
	</requires>
 
	<!-- Plugin Dependencies -->
	
	<dependencies>
		<require plugin_id="cerberusweb.core" version="6.1.0" />
	</dependencies>

	<!-- Exported Classes -->
	
	<class_loader>
		<file path="api/App.php">
			<class name="WgmClickatell_API" />
		</file>
	</class_loader>

	<!-- Extensions -->
 
	<extensions>

		<!-- Setup Page Menu Item -->

		<extension point="cerberusweb.ui.page.menu.item">
			<id>wgmclickatell.setup.menu.plugins.clickatell</id>
			<name>Clickatell Plugins Menu Item</name>
			<class>
				<file>api/App.php</file>
				<name>WgmClickatell_SetupPluginsMenuItem</name>
			</class>
			<params>
				<param key="page_id" value="core.page.configuration" />
				<param key="menu_id" value="core.setup.menu.plugins" />
			</params>
		</extension>
		
		<!-- Setup Page Sections -->
		
		<extension point="cerberusweb.ui.page.section">
			<id>wgmclickatell.setup.clickatell</id>
			<name>Setup Page Clickatell Section</name>
			<class>
				<file>api/App.php</file>
				<name>WgmClickatell_SetupSection</name>
			</class>
			<params>
				<param key="page_id" value="core.page.configuration" />
				<param key="uri" value="clickatell" />
			</params>
		</extension>
		
		<!-- Event Actions -->
		
		<extension point="devblocks.event.action">
			<id>wgmclickatell.event.action.send_sms</id>
			<name>Send SMS Event Action</name>
			<class>
				<file>api/App.php</file>
				<name>WgmClickatell_EventActionSendSms</name>
			</class>
			<params>
				<param key="label" value="Send SMS via Clickatell" />
				<param key="events">
					<value>
						<data key="*" />
					</value>
				</param>				
			</params>
		</extension>
		
    </extensions> 
</plugin>
